<footer class="mt-auto py-4 bg-dark text-center text-light shadow-lg" style="background-color: #101111; padding: 1rem 0;">
    <div class="container">
      <span class="text-center">© 2025 Your Company. All rights reserved.</span>
    </div>
  </footer>
  