<!DOCTYPE html>
<html>
<head>
  <title>User List</title>
</head>
<body>
  <h1>All Users</h1>
  <a href="/users/create">+ Create New User</a>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <strong><%= user.name %></strong> - <%= user.email %><br>
        <a href="/users/edit/<%= user.id %>">Edit</a>
        <form action="/users/delete/<%= user.id %>" method="POST" style="display:inline;">
          <button type="submit" onclick="return confirm('Delete this user?')">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>
